<div class="welcome_message">
<h2>{{name}}</h2>
</div>
<section>
<a type="button" href="/">Home</a>
    <div class="wineInfo">
        <img src={{image}} />
        <div class="info">
        <p>{{about}}</p>
        <p>producer: {{producer}}</p>
        <p>Type: {{type}}</p>
        <p class="price">${{price}} : <a type="button" href="{{link}}" target="_blank">BUY NOW</a></p>
        
        </div>
    </div>
</section>